/* remove margin and padding from body to ensure background colors take up all space of the specific class */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
  
}

header img {
    width: 75px;
    height: 75px;
    margin-left: 60px;
    padding: 10px;
}

.right-links {
    display: flex;
    gap: 22px;
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
/* main container to enclose the left and right portion of header */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 10em;

}
/* Descendant combinator to encompass the left portion of the header under the hero container */
.hero-container .left {
    display: flex;
    flex-direction: column;   
}

/* Descendant combinator to encompass the right portion of the hero container which is just this image. */

.hero-container .right-align img {
    flex-shrink: 0;
    width: 75%;
    height: 20%;   
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-container .left .hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 120px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 6px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 30px;   
    padding-bottom: 80px;
}

.content-container{
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 100px;
}

.content .content-container img {
    width: 12%;
    height: 15%;
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.content .image-info {
    display: flex;
    justify-content: center;
    gap: 265px;
}

.logo-text {
    font-size: 18px;
    color: grey;
}

.content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.quote-container .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-container .quote-cite {
    font-weight: bold;
    font-size: 18px;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 400px;
}

.action-call-container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    padding: 20px;
    border-radius: 5px;
    
}

.action-call-container .left {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-weight: bold;
}

.right-align .buttons {
    flex-shrink: 0;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
}